/* Clear default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', 'Vazirmatn', sans-serif;
  background-color: #FFF9F0;
  overflow-x: hidden;
}

#root {
  width: 100%;
}
